.App {
  /* text-align: center; */
}

.container{
  background-color: white;
  width: 50%;
  margin: 50px auto;
  padding: 30px;
}

.container button{
  margin: 0 auto;
  background-color: palevioletred;
  width: 100%;
  color: white;
  border: none;
  padding: 8px;
  /* text-align: center; */

}