.App {
  text-align: center;
}

.container{
  background-color: white;
  width: 50%;
  margin: 50px auto;
  padding: 30px;
}

.container button{
  text-align: center;
  background-color: palevioletred;
  width: 60%;
  max-width: 500px;
  color: white;
  border: none;
  padding: 8px;
  margin-left: 50px;

}